@import "tailwindcss";
@plugin 'tailwind-scrollbar'; /* tailwind scrollbar */
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

/* wirechat */
@source '../../vendor/namu/wirechat/resources/views/**/*.blade.php';
@source '../../vendor/namu/wirechat/src/Livewire/**/*.php';
/* wirechat */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Manrope", "Public Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-black-custom: #272727;
    --color-gray-custom-1: #f1f1f1;
    --color-gray-custom-2: #eaeaea;
    --color-gray-custom-3: #a7a6a6;
    --color-gray-custom-3-hover: #cccccc;
    --color-gray-custom-4: #666565;
    --color-gray-custom-5: #707070;
    --color-blue-custom: #004ca4;
    --color-blue-custom-light: #effafe;
    --color-blue-custom-hover: #012f65;
    --color-azure-custom: #019eb1;
    --color-azure-custom-20: #019eb120;
    --color-azure-custom-25: #019eb125;
    --color-azure-custom-hover: #037886;
    --color-azure-custom-light: #8dd4dc;
    --color-azure-chat-bg: #f2fafb;
    --color-pink-custom: #e56399;
    --color-purple-custom: #806bff;
    --color-red-custom: #d30000;
    --color-red-custom-light: #fae6e6;
    --color-green-custom: #5f9123;
    --color-green-custom-light: #f4faed;
    --color-orange-custom: #ff8c42;
    --color-orange-custom-hover: #e07028;
    --color-orange-custom-light: #fffcee;
    --color-oil-custom: #00be8b;
    --color-oil-custom-light: #f0fbf8;
    --color-yellow-custom: #e6a700;
    --color-yellow-custom-light: #fff8db;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* Classi stile per enum class */
.awaiting-renew {
    @apply bg-yellow-custom-light text-yellow-custom border-yellow-200;
}
.under-review {
    @apply bg-gray-custom-1 text-black-custom border-gray-200;
}

.rejected,
.lead-status-not-feasible {
    @apply bg-red-custom-light text-red-custom border-red-200;
}

.approved,
.lead-status-feasible {
    @apply bg-green-custom-light text-green-custom border-green-200;
}

.suspended,
.lead-status-in-negotiation {
    @apply bg-orange-custom-light text-orange-custom border-orange-200;
}

.lead-status-new,
.pending {
    @apply bg-oil-custom-light text-oil-custom border-teal-200;
}

.lead-status-to-recontact,
.disbursed {
    @apply bg-blue-custom-light text-blue-custom border-sky-300;
}

.external {
    @apply text-orange-custom;
}

.floor-manager {
    @apply text-azure-custom;
}

.observer {
    @apply text-black-custom;
}

.web {
    @apply text-blue-custom;
}

.back-office {
    @apply text-pink-custom;
}

.consultant {
    @apply text-purple-custom;
}
