@import 'tailwindcss';
@plugin 'tailwind-scrollbar';  /* tailwind scrollbar */
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

/* wirechat */
@source '../../vendor/namu/wirechat/resources/views/**/*.blade.php';
@source '../../vendor/namu/wirechat/src/Livewire/**/*.php';
/* wirechat */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Manrope', 'Public Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-black-custom: #272727;
    --color-gray-custom-1: #F1F1F1;
    --color-gray-custom-2: #EAEAEA;
    --color-gray-custom-3: #A7A6A6;
    --color-gray-custom-3-hover: #CCCCCC;
    --color-gray-custom-4: #666565;
    --color-gray-custom-5: #707070;
    --color-blue-custom: #004CA4;
    --color-blue-custom-light: #effafe;
    --color-blue-custom-hover: #012F65;
    --color-azure-custom: #019EB1;
    --color-azure-custom-hover: #037886;
    --color-azure-custom-light: #8DD4DC;
    --color-azure-chat-bg: #f2fafb;
    --color-pink-custom: #E56399;
    --color-red-custom: #d30000;
    --color-red-custom-light: #fae6e6;
    --color-green-custom: #4c731f;
    --color-green-custom-light: #f4faed;
    --color-orange-custom: #ff8c42;
    --color-orange-custom-hover: #E07028;
    --color-orange-custom-light: #fffcee;
    --color-azure-status-custom: #00BE8B;
    --color-azure-status-custom-light: #f0fbf8;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* Classi stile per enum class */
.under-review {
    @apply bg-gray-custom-1 text-black-custom border-gray-200;
}

.rejected {
    @apply bg-red-custom-light text-red-custom border-red-200;
}

.approved {
    @apply bg-green-custom-light text-green-custom border-green-200;
}

.suspended {
    @apply bg-orange-custom-light text-orange-custom border-orange-200;
}

.pending {
    @apply bg-azure-status-custom-light text-azure-status-custom border-teal-200;
}

.disbursed {
    @apply bg-blue-custom-light text-blue-custom border-sky-300;
}
